<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>

		<meta name="description" content="Draggabble Widget Boxes &amp; Containers" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!--basic styles-->

		<link href="/gzjk/page/manager/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/gzjk/page/manager/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/gzjk/page/manager/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="/gzjk/page/manager/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!--page specific plugin styles-->

		<!--ace styles-->

		<link rel="stylesheet" href="/gzjk/page/manager/assets/css/ace.min.css" />
		<link rel="stylesheet" href="/gzjk/page/manager/assets/css/ace-responsive.min.css" />
		<link rel="stylesheet" href="/gzjk/page/manager/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="/gzjk/page/manager/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!--inline styles related to this page-->
	</head>

	<body>

		<div class="main-container container-fluid">
			
			

				<div class="page-content">

					<div class="row-fluid">
						<div class="span12">
				<div class="row-fluid" id="rowundefined[0]">
					<div class="span4" id="colundefined[0][0]">
					</div>
					<div class="span4" id="colundefined[0][1]">
									<div>
									<h3>这是一一个最简单的文章模板</h3>
									</div>
					</div>
					<div class="span4" id="colundefined[0][2]">
					</div>
				</div><!--/row-->
				<div class="row-fluid" id="rowundefined[1]">
					<div class="span2" id="colundefined[1][0]">
					</div>
					<div class="span8" id="colundefined[1][1]">
									<p class="alert alert-info">
   如何布局
</p>
									<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;右边悬浮的编辑框是可以点开的。点击创建布局，即可以创建一个布局，并放到最后。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注意，刚刚创建的布局，因为是空的，所以感觉页面上什么都没有。您可以，在右边的设置框中点击《显示布局控制器》这样，
布局控制器将会显示所有布局控制框。<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在这个布局控制器中，上下箭头，可以进行行顺序调换，将上面的移动到下面，将下面的交换到上面。<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当然还可以将整行内容删除掉。
</div>
									<p class="alert alert-info">
   创建布局时的布局比例
</p>
									<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;创建布局时，将弹出一个布局对话框，将在这里一行的布局信息。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;布局信息是这样的：布局由若干个数字组成，每个数字代表一个格子的宽度比例，这里可以是任意非0的数字
但是要求这些数字加在一起的总和必须等于12。12是个很好的布局数字，基本上通过这个数字可以组合出所有互联网上大部分的布局比例来，很强大吧，赶紧试试吧<br/>
</div>
									<p class="alert alert-info">
   创建子布局
</p>
									<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这是本编辑器最强大的地方。本布局控制器的<i class="icon-download-alt"></i>按钮，即向下移动交换的右边一个按钮，
可以把当前的整行内容，移动到他下一行布局中的任意一个格子中。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;强大吧，这个就可以很方便的更好的控制整个页面的布局了。注意，一旦有子布局，行控制器要切换到里层的
布局，需要点击行控制器的"转内部控制器"按钮，进行切换，这么强大的功能，赶紧试试吧<br/>
</div>
									<p class="alert alert-info">
   如何控制内容
</p>
									<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有了布局，下面控制页面输出的巨头内容就简单多了。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;首先页面的所有输出内容，都是是分块的，我们称之为“对象”，所有的这些对象，
当鼠标移动到上面，就会自动显示控制框。然后拖动这些控制框，您可以拖动这些控制框到任何一个布局方块中。方便吧<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点开右边的设置齿轮，第一个菜单是创建对象。点击后，会在第一个布局，
的第一个方框中放入一个新的对象，然后，你可以拖动这个对象到任何一个地方。怎么样强大吧。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;鼠标移动到对象上方，在在弹出的控制面板中，点击<i class="icon-chevron-up"></i>按钮，您可以发现就在这个
对象下方出现了这个对象本身的文本编辑框。编辑它把，这个也是所见即所得的，编辑的内容，点击这个编辑框上方的“保存”按钮，会立即将结果显示到页面上。所见即所得哦。
完全编辑完后，点击“关闭”结束吧。
</div>
									<p class="alert alert-info">
   我们的优势
</p>
									<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;和传统的富媒体编辑器相比，这种布局编辑器，更适合一个复杂，美观的页面编辑，可以更好的调整页面的内容。
轻而易举的编辑出复杂而且美观的页面。而且，模块化的生成，甚至，可以通过组建的方式加载到动态页面中。使得页面交互功能更加的强大。另外，编辑出来的页面，
和传动存入数据库中的不用，这种直接是静态文件，更加的安全，性能也不可和传动编辑器相比的。
</div>
					</div>
					<div class="span2" id="colundefined[1][2]">
					</div>
				</div><!--/row-->
			</div><!--/.span-->
					</div><!--/.row-fluid-->
				</div><!--/.page-content-->

			
			
		</div><!--/.main-container-->

		


<script src="/gzjk/breeze/lib/js/jquery.js"></script>



		

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/gzjk/page/manager/assets/js/bootstrap.min.js"></script>

		<!--page specific plugin scripts-->

		<script src="/gzjk/page/manager/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/gzjk/page/manager/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="/gzjk/page/manager/assets/js/jquery.slimscroll.min.js"></script>

		<!--ace scripts-->

		<script src="/gzjk/page/manager/assets/js/ace-elements.min.js"></script>
		<script src="/gzjk/page/manager/assets/js/ace.min.js"></script>

		<!--inline scripts related to this page-->

		<script type="text/javascript">
			$(function() {
				// Portlets (boxes)
			    $('.widget-container-span').sortable({
			        connectWith: '.widget-container-span',
					items:'> .widget-box',
					opacity:0.8,
					revert:true,
					forceHelperSize:true,
					placeholder: 'widget-placeholder',
					forcePlaceholderSize:true,
					tolerance:'pointer'
			    });
				$('.widget-container-span').sortable({
			        connectWith: '.widget-container-span',
					items:'> .widget-box',
					opacity:0.8,
					revert:true,
					forceHelperSize:true,
					placeholder: 'widget-placeholder',
					forcePlaceholderSize:true,
					tolerance:'pointer'
			    });
				
				$(".widget-box").mouseover(function(){
					$(this).find(".widget-header").show();
				})
				$(".widget-box").mouseout(function(){
					$(this).find(".widget-header").hide();
				})
			});
			
			
		</script>
	</body>
</html>
